In [ ]:
import pandas as pd
import sqlite3
import datetime as dt

In [ ]:
#connect to csv file to read data
df = pd.read_csv("Us_Accidents_Dec19.csv")

In [ ]:
# redueced traffic dataframe to needed data
cleaned_traffic_df=df.drop(columns=['Source','TMC','End_Lat','End_Lng','Distance(mi)',\
                         'Description','Number','Street','Side','County',\
                         'Country','Timezone','Airport_Code','Amenity',\
                         'Sunrise_Sunset','Civil_Twilight','Nautical_Twilight',\
                         'Astronomical_Twilight'])

In [ ]:
cleaned_traffic_df.head()

In [ ]:
cleaned_traffic_df.info()

In [ ]:
#convert date columns to datetime 
cleaned_traffic_df['Start_Time'] =  pd.to_datetime(cleaned_traffic_df['Start_Time'])
cleaned_traffic_df['End_Time'] = pd.to_datetime(cleaned_traffic_df['End_Time'])
cleaned_traffic_df['Weather_Timestamp'] = pd.to_datetime(cleaned_traffic_df['Weather_Timestamp'])

In [ ]:

cleaned_traffic_df['Start_Time'] = pd.to_datetime(cleaned_traffic_df['Start_Time'])

df_2016= cleaned_traffic_df[cleaned_traffic_df['Start_Time'].dt.year == 2016]

In [ ]:
df_2017= cleaned_traffic_df[cleaned_traffic_df['Start_Time'].dt.year == 2017]

In [ ]:
df_2018= cleaned_traffic_df[cleaned_traffic_df['Start_Time'].dt.year == 2018]

In [ ]:
df_2019= cleaned_traffic_df[cleaned_traffic_df['Start_Time'].dt.year == 2019]

In [ ]:
pd.read_sql('SELECT* from db_2017',conn)

In [ ]:
#create database 
conn=sqlite3.connect("accidents_data.sqlite")
df_2016.to_sql('db_2016',conn,if_exists='replace',index = False)
pd.read_sql('SELECT * from db_2016',conn)

In [ ]:
#create database 2017
conn=sqlite3.connect("database_2017.sqlite")
df_2017.to_sql('db_2017',conn,if_exists='replace',index = False)
pd.read_sql('SELECT * from db_2017',conn)

In [ ]:
#create database 2018
conn=sqlite3.connect("database_2018.sqlite")
df_2018.to_sql('db_2018',conn,if_exists='replace',index = False)
pd.read_sql('SELECT * from db_2018',conn)

In [ ]:
#create database 2019
conn=sqlite3.connect("database_2019.sqlite")
df_2019.to_sql('db_2019',conn,if_exists='replace',index = False)
pd.read_sql('SELECT * from db_2019',conn)